.button-container button{
    background-color: #9f8946;
    border: none;
    padding: 6px 14px;
    height: 32px;
    font-size: 14px;
    width: max-content;
    color: white;
    margin-left: 5px;

}
.icon-container button{
    color: #9f8946;
    font-weight: bold;
    background-color: transparent;
    border: navajowhite;
    font-size: 26px;
}