.modal-content{
    position: relative !important;
    margin: auto !important;
    background-color: white !important;
    border: 2px solid #9f8946 !important;
    pointer-events: auto !important;
    width: 26% !important;
    height: 8rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .popup-overlay{
    background-color: rgba(0,0,0,0.6);
  }
  .close{
    font-size: 52px !important;
    font-weight: 700 ;
    line-height: 1;
    color: white !important;
    text-shadow: 0 1px 0 #fff;
    opacity: 1 !important; 
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
   button{
    background-color: #9f8946;
    color: white;
    border: navajowhite;
    width: 6rem;
    height: fit-content;
    margin-top: 4px;
    margin-right: 79px;
  }
 h3{
    font-size: 26px;
    margin-top: 10px;
    margin: 0 2rem;
  }
  h3 a{
      height: 51.5px;
      font-size: 19px;
      color: #9f8946;
  }
  h3 a:hover{
    color: #725b16;
  }
  .all-task h3:first-child{
    margin-top: 2rem;
  }
  .all-task h3:last-child{
    margin-bottom: 2rem;
  }